<html>
<head>
    <title>The Simple Web site</title>
</head>
<body>
<header>
    <h2>Welcome {{ USERNAME }} to</h2>

    <h1>The Simple Web site</h1>
</header>
<nav>
    <div><a href="/login">Login</a></div>
    <div><a href="/logout">Logout</a></div>
    <ul>
        <a href="/page?pageID=PAGE_1"><li>Simple Web Page 1</li></a>
        <a href="/page?pageID=PAGE_2"><li>Simple Web Page 2</li></a>
        <a href="/page?pageID=PAGE_3"><li>Simple Web Page 3</li></a>
    </ul>
</nav>
</body>
</html>